<div class="row m-3">
  <!-- Error message if any -->
  <div class="col-md-12" *ngIf="errorMsg">
    <div class="alert alert-danger">
      {{ errorMsg }}
    </div>
  </div>
  
  <!-- User profile card -->
  <div class="card col-md-4 text-center mr-3">
    <div class="col">
      <div class="mb-3 mt-3">
        <img [src]="utilisateur.photo ? utilisateur.photo : 'assets/product.png'" class="rounded-circle" width="200px" height="200px"/>
      </div>
      <div class="mb-3">
        <h2>{{ getFullName() }}</h2>
        <small class="form-text text-muted">{{ getFullAddress() }}</small>
      </div>
      <div class="col mb-3 p-0">
        <button type="button" class="btn btn-primary mr-3" (click)="modifierProfil()"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le
          profil</button>
        <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()"><i class="fas fa-lock"></i>&nbsp;Changer le mot de passe</button>
      </div>
    </div>
  </div>
  
  <!-- User details card -->
  <div class="card col-md-7">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Nom complet</th>
        <td>{{ getFullName() }}</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{ utilisateur.email || 'N/A' }}</td>
      </tr>
      <tr>
        <th scope="row">Date de naissance</th>
        <td>{{ utilisateur.dateDeNaissance ? (utilisateur.dateDeNaissance | date:'dd/MM/yyyy') : 'N/A' }}</td>
      </tr>
      <tr>
        <th scope="row">Adresse</th>
        <td>{{ getFullAddress() }}</td>
      </tr>
      <tr>
        <th scope="row">Entreprise</th>
        <td>{{ utilisateur.entreprise?.nom || 'N/A' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
